@import '~@/app/global.module.scss';

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -2%;
}

.dateInfo {
  color: $gray-600;
  letter-spacing: -2%;
  line-height: 19px;
}