@import '~@/app/global.module.scss';

$size: 24px;

.checkbox-wrapper-28 *,
.checkbox-wrapper-28 *:before,
.checkbox-wrapper-28 *:after {
  box-sizing: border-box;
}

.checkbox-wrapper-28 {
  position: relative;

  input:checked ~ svg {
    height: calc($size * 0.6);
    -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
    animation: draw-checkbox-28 ease-in-out 0.2s forwards;
  }

  input:checked ~ label::after {
    border: 1px solid $blue-600;
    background-color: #A0DCF6;
  }

  input:checked ~ label {
    color: $gray-600;
    text-decoration: line-through;
  }

  svg {
    stroke: #0080d3;
    stroke-width: 3px;
    height: 0;
    width: calc($size * 0.6);
    position: absolute;
    left: calc($size * 0.21);
    top: calc($size * 0.2);
    stroke-dasharray: 33;
    z-index: 10;
  }
}

.promoted-input-checkbox {
  display: none;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.label {
  line-height: $size;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    height: $size;
    width: $size;
    margin-right: 8px;
    float: left;
    border: 1px solid $gray-400;
    border-radius: 4px;
    transition: 0.15s all ease-out;
  }

  
  &:active::after {
    background-color: #e6e6e6;
  }
}

@-webkit-keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}